<div class="w-full p-5 flex flex-row justify-between items-center">
    <h1 class="font-bold text-6xl">Edit Kontak</h1>

</div>


<% if (typeof err != 'undefined') { %>
    <div class="w-full p-5 flex flex-row justify-between items-center bg-red-400 bg-opacity-20 rounded ">
        <ul class="">
            <% err.forEach(e => { %>
                <li class="font-bold text-red-700 text-xl"><%= e.msg  %></li>
            <% }) %>
        </ul>
    
    </div>
<% } %>

<form method="post" action="/contact?_method=PUT" class="pl-5">
    <input type="hidden" name="_id" value="<%= contact._id %>">
    <input type="hidden" name="oldNama" value="<%= contact.oldNama || contact.nama %>">
    <div class="mb-3 flex flex-col items-start">
        <label for="nama" class="">Nama</label>
        <input type="text" name="nama" id="nama" class="border-2 border-blue-700 rounded w-96 px-6 h-10 text-xl" required value="<%= contact.nama %>">
    </div>
    <div class="mb-3 flex flex-col items-start">
        <label for="email" class="">Email</label>
        <input type="email" name="email" id="email" class="border-2 border-blue-700 rounded w-96 px-6 h-10 text-xl" required value="<%= contact.email %>">
    </div>
    <div class="mb-3 flex flex-col items-start">
        <label for="nomor" class="">Nomor</label>
        <input type="text" name="nomor" id="nomor" class="border-2 border-blue-700 rounded w-96 px-6 h-10 text-xl" required value="<%= contact.nomor %>">
    </div>
    <button class="px-4 py-2 rounded-full bg-blue-900 text-white text-lg w-fit border-2 border-blue-900 hover:bg-transparent hover:text-blue-900 transition-colors duration-300 flex flex-row gap-1 items-center" type="submit">Change contact</button>
</form>